@media (min-height: 150px) { 
#header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    margin: 40px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

nav a{
    text-decoration: none;
}
}